<ion-view view-title="Account">
    <ion-content>
        <div class="card">
            <div class="item item-avatar">
                <img src="">
                <h2>User Name</h2>
                <p>Avatar pic goes to the left</p>
                {{latUserToSend}},{{longUserToSend}}
            </div>
        </div>
        <div class ="card">
            <div class="item item-divider">
                <h2>Rating</h2>
            </div>
            <div class="item item-text-wrap">
                <i class="icon small-icon padding-right teal-object ion-ios-star"></i>
                    User rating.
            </div>
        </div>
        <div class ="card">
            <div class="item item-divider">
                <h2>Stats</h2>
            </div>
            <div class="item item-text-wrap">
                <i class="icon small-icon padding-right teal-object ion-stats-bars"></i>
                User statistics.
            </div>
        </div>
        <div class ="card">
            <div class="item item-divider">
                <h2>Details</h2>
            </div>
            <div class="item item-text-wrap">
                Links to terms of use and privacy policy
            </div>
        </div>
        <div class ="card">
            <div class="item item-divider">
                <h2>Account</h2>
            </div>
            <div class="item item-text-wrap">
                Log out and account deletion.
            </div>
        </div>
    </ion-content>
</ion-view>
