<ion-view view-title="Preferences">
    <ion-content>
        <div class ="card">
            <div class="item item-text-wrap">
                Range
                <div class="item range range-stable">
                    <input type="range" name="range">
                </div>
            </div>
        </div>
        <div class ="card">
            <div class="item item-text-wrap">
                <label class="toggle toggle-stable float-right">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                Receive Notifications
            </div>
        </div>
    </ion-content>
</ion-view>
