<ion-view view-title="Selling">
    <ion-content>
        <div class ="card">
            <div class="item item-avatar">
                <img src="">
                <h2>Item title</h2>
                <button class="button button-icon button-clear small-icon float-right ion-chatbubbles">
                </button>
                <button class="button button-icon button-clear small-icon float-right ion-edit">
                </button>
                <p>Item Cost</p>
                <p>Expiration Date</p>
            </div>
        </div>
    </ion-content>
</ion-view>
